h1, h3{
    margin: 10px 0;
}
h5{
    font-weight: 100;
    margin: 10px 0;
}
hr{
    margin: 50px 0;
}
.main{
    text-align: center;
    font-family: Arial;
    padding-top: 90px;
    padding-left: 420px;
    padding-right: 450px;
}
.main h1{
    margin: 0 0 10px 0;
}
.textinho{
    margin: 0;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    text-align: left;
}
.menu .info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 3px 3px 10px 10px;
    width: 230px;
}

.menu .info .bola{
    width: 30px;
    height: 30px;
    border: 1px black solid;
    border-radius: 50%;
    margin-right: 10px;
}
.textofim{
    width: 500px;
    margin: 0 auto;
}
button{
    color: black;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(100, 100, 100);
    color: white;
}